<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div style="text-align:center">
  <h1>
    Welcome to {{title }}!
  </h1>
</div>
<nav> 
  <a routerLink = "/pipes" routerLinkActive="active">Pipes</a>&nbsp;&nbsp;
  <a routerLink = "/directives" routerLinkActive="active">Directives</a>&nbsp;&nbsp;
  <a routerLink = "/signup" routerLinkActive="active">Sign Up</a>&nbsp;&nbsp;
  <a routerLink = "/login" routerLinkActive="active">Login</a>&nbsp;&nbsp;
  <a routerLink = "/store" routerLinkActive="active">Store</a>&nbsp;&nbsp;
  <a routerLink = "/cart" routerLinkActive="active">Cart</a>
</nav>
<router-outlet></router-outlet>
<br/><br/>
<p>&nbsp;&nbsp;&nbsp;Made By</p>
<ul type="circle">
  <li>Vridhi Patel - 1611106</li>
  <li>Pankti Thakkar - 1611114</li>
</ul>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->